NET "I_RESET" LOC = B18;
NET "I_RESET" IOSTANDARD = LVTTL;
NET "I_RESET" DRIVE = 8;
NET "I_RESET" SLEW = FAST;
NET "O_HSYNC" LOC = T4;
NET "O_HSYNC" IOSTANDARD = LVTTL;
NET "O_HSYNC" DRIVE = 8;
NET "O_HSYNC" SLEW = FAST;
NET "O_VIDEO_B[0]" LOC = U5;
NET "O_VIDEO_B[0]" IOSTANDARD = LVTTL;
NET "O_VIDEO_B[0]" DRIVE = 8;
NET "O_VIDEO_B[0]" SLEW = FAST;
NET "O_VIDEO_B[1]" LOC = U4;
NET "O_VIDEO_B[1]" IOSTANDARD = LVTTL;
NET "O_VIDEO_B[1]" DRIVE = 8;
NET "O_VIDEO_B[1]" SLEW = FAST;
NET "O_VIDEO_G[0]" LOC = N8;
NET "O_VIDEO_G[0]" IOSTANDARD = LVTTL;
NET "O_VIDEO_G[0]" DRIVE = 8;
NET "O_VIDEO_G[0]" SLEW = FAST;
NET "O_VIDEO_G[1]" LOC = P8;
NET "O_VIDEO_G[1]" IOSTANDARD = LVTTL;
NET "O_VIDEO_G[1]" DRIVE = 8;
NET "O_VIDEO_G[1]" SLEW = FAST;
NET "O_VIDEO_G[2]" LOC = P6;
NET "O_VIDEO_G[2]" IOSTANDARD = LVTTL;
NET "O_VIDEO_G[2]" DRIVE = 8;
NET "O_VIDEO_G[2]" SLEW = FAST;
NET "O_VIDEO_R[0]" LOC = R9;
NET "O_VIDEO_R[0]" IOSTANDARD = LVTTL;
NET "O_VIDEO_R[0]" DRIVE = 8;
NET "O_VIDEO_R[0]" SLEW = FAST;
NET "O_VIDEO_R[1]" LOC = T8;
NET "O_VIDEO_R[1]" IOSTANDARD = LVTTL;
NET "O_VIDEO_R[1]" DRIVE = 8;
NET "O_VIDEO_R[1]" SLEW = FAST;
NET "O_VIDEO_R[2]" LOC = R8;
NET "O_VIDEO_R[2]" IOSTANDARD = LVTTL;
NET "O_VIDEO_R[2]" DRIVE = 8;
NET "O_VIDEO_R[2]" SLEW = FAST;
NET "O_VSYNC" LOC = U3;
NET "O_VSYNC" IOSTANDARD = LVTTL;
NET "O_VSYNC" DRIVE = 8;
NET "O_VSYNC" SLEW = FAST;
NET "O_AUDIO" LOC = M15;
NET "O_AUDIO" IOSTANDARD = LVTTL;
NET "O_AUDIO" DRIVE = 8;
NET "SW_BOMB" LOC = G13;
NET "SW_BOMB" IOSTANDARD = LVTTL;
NET "SW_BOMB" DRIVE = 8;
NET "SW_BOMB" SLEW = FAST;
NET "SW_COIN" LOC = M18;
NET "SW_COIN" IOSTANDARD = LVTTL;
NET "SW_COIN" DRIVE = 8;
NET "SW_COIN" SLEW = FAST;
NET "SW_DOWN" LOC = G16;
NET "SW_DOWN" IOSTANDARD = LVTTL;
NET "SW_DOWN" DRIVE = 8;
NET "SW_DOWN" SLEW = FAST;
NET "SW_LEFT" LOC = H16;
NET "SW_LEFT" IOSTANDARD = LVTTL;
NET "SW_LEFT" DRIVE = 8;
NET "SW_LEFT" SLEW = FAST;
NET "SW_RIGHT" LOC = H15;
NET "SW_RIGHT" IOSTANDARD = LVTTL;
NET "SW_RIGHT" DRIVE = 8;
NET "SW_RIGHT" SLEW = FAST;
NET "SW_SHOOT" LOC = G15;
NET "SW_SHOOT" IOSTANDARD = LVTTL;
NET "SW_SHOOT" DRIVE = 8;
NET "SW_SHOOT" SLEW = FAST;
NET "SW_START" LOC = J16;
NET "SW_START" IOSTANDARD = LVTTL;
NET "SW_START" DRIVE = 8;
NET "SW_START" SLEW = FAST;
NET "SW_UP" LOC = F14;
NET "SW_UP" IOSTANDARD = LVTTL;
NET "SW_UP" DRIVE = 8;
NET "SW_UP" SLEW = FAST;
NET "SW_BOMB" PULLDOWN;
NET "SW_COIN" PULLDOWN;
NET "SW_DOWN" PULLDOWN;
NET "SW_LEFT" PULLDOWN;
NET "SW_RIGHT" PULLDOWN;
NET "SW_SHOOT" PULLDOWN;
NET "SW_START" PULLDOWN;
NET "SW_UP" PULLDOWN;
NET "OSC_IN" LOC = B8;
NET "OSC_IN" IOSTANDARD = LVTTL;
NET "OSC_IN" DRIVE = 8;
NET "OSC_IN" SLEW = FAST;
